html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.65em;
	-webkit-font-smoothing: antialiased;
}

a:link {
	color: #008ACE;
}

a:visited {
	color: #B40EB4;
}

a.lang {
	float: right;
	margin: -15px 35px;
	letter-spacing: 2px;
	height: 23px;
	width: 20px;
	font-size: 14px;
	text-decoration: none;
}

a.lang:hover {
	border-bottom: 1px solid;
}

a.lang:visited {
	color: #008ACE;
}

a.lang:active {
	color: #FF3333;
}

em {
	font-style: italic;
}

p {
	margin-top: 15px;
	color: #303030;
}

h2 {
	font-family: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	margin: 37px 0 5px 0;
	padding: 6px 0;

}

h3 {
	font-family: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	padding: 45px 0 0 0;
	text-align: center;
}

.logo {
	font-family: Brandon, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-image: url('img/cotred.png');
	width: 286px;
	height: 69px;
	color: #ed588d;
	font-size: 96px;
	margin: 35px auto;
}

span.slogan {
	font-size: 16px;
	font-family: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	text-align: center;
	margin: -25px 0 0 -15px;
	color: #ed588d;
}

.content {
	width: 720px;
	margin: auto;
	display: block;
}

.label {
	font-family: 'ClearSans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	position: absolute;
	margin-top: -25px;
	margin-left: 9px;
}

.feedback {
	margin: 35px auto 50px;
	height: 210px;
}

.email {
	margin-top: 5px;
	margin: 35px auto 0;
	width: 580px;
}

input {
	width: 400px;
	height: 40px;
	font-size: 18px;
	border: solid 1px #a9a9a9;
	padding: 0 8px 0 8px;
}

button {
	font-family: 'ClearSans', Helvetica, Arial, sans-serif;
	background-color: #ed588d;
	border-style: none;
	width: 130px;
	height: 40px;
	vertical-align: 1px;
	font-size: 18px;
	cursor: pointer;
	color: #303030;
}

button:hover {
	background-color: #ff639c;
}

button:active {
	background-color: #ca4b7b;
}

footer {
	margin-bottom: 50px;
	font-size: 14px;
}

.bullet {
	font-size: 16px;
}

.year {
	display: block;
	margin: 0 auto;
	width: 725px;
}

.contacts {
	font-size: 18px;
	width: 580px;
	margin: 20px auto;
	text-align: center;
}

@font-face {
    font-family: 'ClearSans';
    src: url('http:/tred.co/fonts/ClearSans-Regular.eot') format('embedded-opentype'), 
        url('http:/tred.co/fonts/ClearSans-Regular.woff') format('woff'), 
        url('http:/tred.co/fonts/fonts/ClearSans-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Brandon';
	src: url('fonts/Brandon_blk.otf');
}

@media screen and (max-device-width: 640px) and (orientation: portrait){
  
	h2 {
		font-size: 62px;
		margin: 67px 0 5px 0;
	}

	.content {
		width: 850px;
	}

	body {
		font-size: 46px;
	}

	.logo {
		background-image: url('img/logo@2x.png');
		width: 612px;
		height: 178px;
		margin: 15px auto;
	}

	span.slogan {
		font-size: 34px;
		color: #ed588d;
		margin: -25px auto;
		text-align: center;
	}

	h3 {
		font-size: 48px;
	}

	.contacts {
		font-size: 38px;
		width: 750px;
	}
	.bullet {
		font-size: 32px;
	}

	.year {
		margin: 250px 0 150px 0;
		width: 950px;
		text-align: center;
	}
	footer {
		font-size: 28px;
	}
}

@media screen and (max-device-width: 960px) and (orientation: landscape){

	h2 {
		font-size: 62px;
		margin: 67px 0 5px 0;
	}

	.content {
		width: 850px;
	}

	body {
		font-size: 46px;
	}

	.logo {
		background-image: url('img/logo@2x.png');
		width: 612px;
		height: 178px;
		margin: 15px auto;
	}

	span.slogan {
		font-size: 34px;
		color: #ed588d;
		margin: -25px auto;
		text-align: center;
	}
	
	h3 {
		font-size: 48px;
	}

	.contacts {
		font-size: 38px;
		width: 750px;
	}
	.bullet {
		font-size: 32px;
	}

	.year {
		margin: 250px 0 150px 0;
		width: 950px;
		text-align: center;
	}
	footer {
		font-size: 28px;
	}
}