html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'ClearSans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.65em;
	-webkit-font-smoothing: antialiased;
}

em {
	font-style: italic;
}

p {
	margin-top: 25px;
	color: #303030;
}

h2 {
	font-family: 'Marmelad', sans-serif;
	font-size: 28px;
	margin: 37px 0 5px 0;
	padding: 6px 0;

}

h3 {
	font-family: 'Marmelad', sans-serif;
	font-size: 18px;
	margin: 37px 0 10px 0;
	padding: 6px 0;
}

.logo {
	font-family: Brandon, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ed588d;
	font-size: 96px;
	text-align: center;
	margin: 40px 0 60px 0;
}

span.slogan {
	font-size: 18px;
	position: relative;
	display: block;
	margin: 25px 0 0 0;
	text-rendering: optimizeLegibility;
  	font-feature-settings: "kern" 1;
}

.content {
	width: 720px;
	margin: auto;
	display: block;
}

.text {
	font-size: 12px;
}

.feedback {
	margin: 0 0 100px 0;
}

.email {
	margin-top: 5px;
}

input {
	width: 335px;
	height: 33px;
	font-size: 18px;
	border: solid 1px #a9a9a9;
	padding: 0 8px 0 8px;
}

button {
	background-color: #ed588d;
	border-style: none;
	width: 110px;
	height: 35px;
	vertical-align: 1px;
	font-size: 18px;
	box-shadow: -4px -4px #ca4b7b inset;
	cursor: pointer;
	color: #303030;
}

button:hover {
	background-color: #ff639c;
}

button:active {
	background-color: #ca4b7b;
}

footer {
	margin-bottom: 50px;
	font-size: 12px;
}

.bullet {
	font-size: 14px;
}

ul.vcard {
	list-style: none;
	display: block;
}

li {
	float: left;
}

.year {
	display: block;
	position: absolute;
	margin-top: 50px;
}

@font-face {
    font-family: 'ClearSans';
    src: url('ClearSans-Regular.eot') format('embedded-opentype'), 
        url('ClearSans-Regular.woff') format('woff'), 
        url('ClearSans-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Marmelad';
	src: url('Marmelad-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Brandon';
	src: url('Brandon_blk.otf');
}